body{
  border-top: 3px solid black;
  background-color: rgb(220, 220, 220);
  /*
  background-image: url(images/woodendesk.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  */
}

*{
  box-sizing: border-box;
}

.container-fluid{
  padding: 0;
}

.logodiv{
/*  width: 281.02px;*/
}

/*.navbar{
  padding: 0;
  padding-left: 3em;
  padding-right: 3em;
}*/

ul{
  padding-top: 6;
  padding-bottom: 6;
}

a{
  color: grey !important;
  text-decoration: none;
}

li a{
  font-size: 1.2em;
}

a:hover{
  color: black !important;
}

.navbar{
  border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .inputField{
    display: block;
    width: 100% !important;
    font-size: 1.5em;
  }
  .searchBtn{
    width: 100%;
    font-size: 1.5em;
  }

  li{
    font-size: 1.5em;
  }
}
