body{
  border-top: 5px solid black;
  background-color: #f8f9fa !important;
  min-height: 100%;

  font-family: 'Barlow', sans-serif;

}

*{
  box-sizing: border-box;
}

.btnForm{
  margin: 0 !important;
  padding: 0 !important;
  width: inherit;
}

.row{
  padding: 0 !important;
  margin: 0 !important;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////
//          HEADER
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-fluid{
  padding: 0;
}



.searchIcon{
  padding-top: 4px;
  padding-bottom: 4px;
}

ul{
  padding-top: 6;
  padding-bottom: 6;
}

a{
  color: grey !important;
  text-decoration: none;
}

li{
  position: relative;
  text-align: center;
}

li a{
  font-size: 1.2em;
}

a:hover{
  color: black !important;
}

.navbar{
  border-bottom: 1px solid red;
}

.searchBtn{
  background-color: #dc3545;
  color: white;
}

.searchBtn:hover{
  background-color: red;
}

.cartBtn{
  background-color: #dc3545;
  color: white;
  margin-left: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cartBtn:hover{
  background-color: red;
}


@media (max-width: 767px) {
  .inputField{
    display: block;
    width: 100% !important;
    font-size: 1.5em;
  }
  .searchBtn{
    width: 100%;
    font-size: 1.5em;
  }

  li{
    font-size: 1.5em;
    border-bottom: 1px solid red;
  }

  .homeBtn{
    border-top: 1px solid red;
  }

  .cartBtn{
    background-color: #dc3545;
    color: white;
    margin-left: 0%;
    position: relative;
    top: 0%;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    width: 100%;
    font-size: 1em;
  }


}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
//          CONTENT
/////////////////////////////////////////////////////////////////////////////////////////////////////*/



.fnsNatpis{
  font-family: 'Dancing Script', cursive;
}

.sloganimg{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sloganimg {
  background-image: url("images/sloganimg4.jpg");
  height: /*92%*/ 60%;
  text-align: center;
  position: relative;
}

.slogan{
  /*padding-top: 5%;
  height: 100%;*/
  font-size: 6em;
  color: white;
  text-shadow: 3px 3px 3px black;
  background-color: rgba(0, 0, 0, 0.6);


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slogan2{
  font-size: 0.5em;
  color: white;
  text-shadow: 3px 3px 3px black;
}


.fnsContainer1{

  padding-left: 5%;
  padding-right: 5%;
  background-color: #f8f9fa;
  border-bottom: 1px solid red;
  margin: 0;
  position: relative;
}

.fnsContainer2{

  padding-left: 5%;
  padding-right: 5%;
  background-color:#f8f9fa;
  border-bottom: 1px solid #f8f9fa;
  margin: 0;
  position: relative;
}

.foodPic{
  padding: 1%;
  text-align: center;
}

.foodDescContainer{
  padding: 1%;
  position: relative;
}

.add2cart{
  position: relative;
  bottom: 5%;
  padding: 1%;
}

.newItem{
  color: red;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
}

.itemPrice{
  font-size: 3em;
}

.addBtn{
  font-size: 1.2em;
}

.header2{
  text-align: center;
  border-bottom: 1px solid red;
  /*border-top: 2px solid red;*/
  position: relative;
  background-color: #f8f9fa!important;
}

.homeHeader2{
  margin-bottom: 4%;
  color: red;
}

.fmHeader2{
  margin-top: 4%;
  padding-bottom: 4%;
  color: red;
}

.noBorder{
  border: none;
  margin-top: 4%;
}

.fnsContainer1.rcmItems{
  background-color: #f8f9fa;
}

.itemPic{
  padding: 1%;
  padding-top: 5%;
  text-align: center;
}

.header4{
  padding: 5%;
}

.addBtn2{
  font-size: 0.8em;
  margin-left: 5%;
}


.img-thumbnail{
  background-color: red;
  border: none;
  border-radius: 0;
  /*TODO: mozda maknit ovo width i height i dolje ovo object fit:cover i pronac neki drugi nacin da bude width i height proporcijalni*/
  width: 325px;
  height: 200px;
  object-fit: cover;
}

.img-thumbnail img{
  /*object-fit: cover;*/
}

.itemImage.img-thumbnail{
  border-radius: 10px;
  background-color: red;
}

.footer1{
  background-color: black;
  color: white;
  text-align: center;
  height: 200px;
  padding-top: 50px;
  margin-top: 30%;

}

@media(max-width: 1503px){
  .addBtn2{
    font-size: 0.8em;
    margin-top: 5%;
  }
}

@media (max-width: 840px){
  .slogan{
    font-size: 5em;
  }
}

@media (max-width: 768px){
  .sloganimg{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sloganimg {
    background-image: url("images/sloganimg4.jpg");
    height: 50%;
    text-align: center;
  }

  .slogan{
    font-size: 4em;
  }

  .slogan2{
    font-size: 0.5em;
    color: white;
    text-shadow: 3px 3px 3px black;
  }


  .fnsContainer1{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8f9fa;
    border-bottom: 1px solid red;
    margin: 0;
    height: auto;
  }

  .foodPic{
    padding: 1%;
    /*border: 1px solid blue;*/
    text-align: center;
  }

  .foodDescContainer{
    padding: 5%;
    position: relative;
  }

  .add2cart{
    position: relative;
    bottom: 5%;
    padding: 1%;
  }

  .newItem{
    color: red;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.6em;
  }

  .itemPrice{
    font-size: 3em;
  }

  .itemPrice2{
    color: red;
    margin-left: 3%;
    margin-right: 3%;
  }

  .addBtn{
    font-size: 1.2em;
  }

  .addBtn2{
    font-size: 0.8em;
    margin: 0;
  }

  .recommendedItem{
    padding: 0;
    margin: 0;
  }
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////
//          FOOD MENU
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container{
  /*border: 1px solid red;*/
  padding: 0;
}

.sortMenuContainer{
  text-align: center;
  padding: 0.5%;
  background-color:  #f8f9fa;
  /*border-bottom: 1px solid red;*/
}

.sortMenuDiv{

  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1.3em;
}

.foodContainer{
  height: auto;
  background-color: white;
  position: relative;
}

.foodContainer img{
  width: 100%;
  /*height: 200px;*/
}

.foodContainer{
  padding: 1%;
}

.food{
  /*display: inline-block;*/
}

.fmFoodName{
  font-size: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 1px solid red;
  border-right: 1px solid red;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.fmFoodDesc{
  padding-left: 5%;
  padding-right: 5%;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fmFoodPrice{
  text-align: center;

  border-left: 1px solid red;
  border-right: 1px solid red;
  border-radius: 10px;
  position: relative;
  width: 80%;
  margin: auto;
}

.itemPrice3{
    color: red;
    font-size: 1em;
    margin-right: 9%;
}

.addBtn3{
    font-size: 0.8em;
    margin-left: 5%;
    border: 1px solid red;
    border-radius: 9px;
    right: 0;
}

.header2.kaki{
  /*background-color: rgb(227, 206, 179) !important;*/
  background-color: #f8f9fa;
}

.lead{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px){
  .container{
    max-width: 100% !important;
    padding: 0;
    margin: auto;
  }

  .headerRes{
    font-size: 2em;
  }

  .lead{
    font-size: 0.9em;
  }
}


@media (max-width: 576px){
  .foodContainer{
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
  }

  .fmFoodPrice{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .itemprice3{
    margin-right: 0%;
  }

  .addBtn3{
    margin-left: 0%;
    border-radius: 10px;
  }

  .slogan{
    font-size: 2.4em;
  }
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////
//          Administration
/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.adminTablesDiv{
  width: 50% !important;
  float: left;
  border-right: 1px solid black !important;
  padding:4%;
}
.adminTablesDiv table{
  border-collapse: collapse;
  width: 90%;
}
.breakword{
  word-break: break-all;
}
.adminTablesDiv table tr td{
  border: 1px solid black;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////
//          Stuff & Stuff view
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.stuff_stuffContainer a{
  text-decoration: none;
}

.stuffFullImage .img-thumbnail{
  object-fit:contain;
  width: 100%;
  height: 100%;
  background-color: white !important;
  border: 1px solid red;
}

/*
.stuffContainer .img-thumbnail{
  background-color: grey !important;
}

.stuffContainer .fmFoodName{
  border-color: grey;
}
*/
.stuffDescDiv{

}

.stfContainer{
  background-color: rgb(220, 220, 220) !important;
}

.svStuffPrice{
  margin-top: 50% !important;

}

.clickedItemContainer{
  border-bottom: 1px solid red;
  padding-bottom: 50px !important;
}

.itemPrice4{

}

.addBtn4{
  margin-left: 20%;
}

@media(max-width: 768px){
  .svStuffPrice{
    margin-top: 10% !important;
    margin-bottom: 20%;
  }
  .stuffFullImage .img-thumbnail{
    object-fit:contain;
    width: 100%;
    height: auto;
    background-color: white !important;
    border: 1px solid red;
  }
}

.sResultHeader{
  text-align: left !important;

  border-top: 5px solid red;
  padding-left: 5%;
  padding-top: 1%;
}

.HeaderTxtStuff{
  color: grey;
}

.sResultHeaderStuff{
  border-color: grey;
}

.srImage{
  border: 1px solid blue;
}

.srImage .stuffFullImage{

}

.srText{
  border: 1px solid green;
}

.searchContaineri{
  border: 1px solid red;
}

.searchContaineri .headerRes{
  font-size: 2em;
}
.searchContaineri .lead{
  font-size: 1.1em;
}
.searchContaineri .itemPrice{
  font-size: 2em;
}

.itemPrice5{
  font-size: 1.5em;
}


.btn-success{
  color: white !important;
  font-size: 1.3em;
}

.btn-success:hover{
  color: white !important;
}

.purchaseBtn{

}

.cart_total{
  background-color: rgb(255, 153, 153) !important;
  font-size: 1.2em;
}

.cart_table{
  text-align: center;
  word-break: break-all;
}

.cart_img{
  object-fit: contain !important;

}

.cart_img img{
  border: 1px solid red;
  width: 150px;
  height: 135px !important;
  margin-right: 15%;
}

.purchase_success{
  margin-top: 10%;
  margin-bottom: 20%;
}

.itemPrice5{
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.cart_th_img{
  padding-right: 6.5% !important;
}

.removeBtn{
  color: white !important;
}
.removeBtn:hover{
  color: white !important;
}

.footerLinks{
  color: white !important;
}

.footerLinks:hover{
  color: white !important;
}
